{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/dashboard_style.css' %}">
    <script type="application/javascript" src="{% static 'dashboard/characterlist.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="character_list">
    {% for character in characters %}
        <div class="character" data-characterid="{{ character.id }}">
            <span class="name">{{ character.name }}</span>
        </div>
    {% endfor %}
    </div>
    <script type="application/javascript">
        loadCharacterDetails();
        window.setInterval(loadCharacterDetails, 30000);
    </script>
{% endblock %}
